body {
	background: #e6e6e6;
	letter-spacing: 0px;
	font-family: Roboto;
}

#header {
/*#header, #header * {*/
	/*opacity: 1 !important;*/
	border-left: 10px solid grey;
	padding-left: 20px;
}

#container {
	max-width: 950px;
	margin: 0 auto;
	margin-top: 60px;
}

#header .title {
	font-family: Roboto;
	font-weight: 600;
	opacity: 0.5;
	font-size: 23px;
	margin-bottom: 10px
}

#header .item, .item input {
	font-family: Roboto;
	opacity: 0.4;
	font-size: 20px;
	margin-bottom: 3px;
}	

.title, /*input*/ {
	width: 100%;
}

input {
	background: none;
	border: none;
	font-size: 20px;
	font-family: Roboto;
}

input:focus{
	outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
  opacity: 0.5;
}

body {
	overflow: auto;
}

table {
	border-collapse: collapse;
	/*border-spacing: 10px 0;*/
}

td,th {
  border-left: 10px solid #e6e6e6;
}

 tr>td:first-child {
   border:0px;
 }

 tr>th:first-child {
   border:0px;
 }

td, th {
	/*width: 50px;*/
	/*height: 40px;*/
	/*background: red;
	color: white;*/
	text-align: left;
	/*box-sizing: border-box;*/

}

th {
	opacity: 0.5;
}

.rightAlign {
	text-align: right;
}

th {
	padding-bottom: 5px;
}

#schedules { 
	margin-top: 50px;
}

.am {
	opacity: 0.4;
}

.pm {
	opacity: 0.6;
}

table {
	float: left;
}

td {
	opacity: 0.7;
}

@media (max-width: 1050px) {
    #container {
    	margin-left: 50px;
    }
}